    /* Colors */
    
     :root {
        --white: #ffffff;
        --black: #000000;
        --color-internal-theme: #fc5b1f;
        --color-background: #000000;
        --color-heading-font: #ffffff;
        --color-simple-font: #a9a9a9;
        --accent-color: #5833CE;
    }
    
    * {
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
        ;
    }
    
    body {
        background-color: #000000
    }
    
    .align-item-center {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .site-logo-text {
        vertical-align: middle;
        font-weight: 600;
        font-size: 3vh;
    }
    
    .orange {
        color: var(--color-internal-theme) !important;
    }
    
    .logo-heading {
        display: inline;
        margin-right: auto;
    }
    
    .get_mobile_app_title {
        font-size: 75px;
        font-weight: 600;
        line-height: 4rem;
        color: var(--white);
    }
    
    .phone {
        line-height: 0.8rem;
        font-weight: 500;
        height: inherit;
    }
    
    .whatsApp {
        line-height: 0.8rem;
        font-weight: 500;
        height: inherit;
    }
    
    .contactInfo {
        display: inline-block;
        text-align: center;
        font-weight: 600;
        font-size: 1.9vh;
    }
    
    .fa {
        color: var(--color-internal-theme);
        font-size: 4vh;
        margin-right: 1vw;
    }
    
    .fa-dark {
        color: var(--color-simple-font);
    }
    
    .main-wrapper {
        padding: 0px 5vw;
    }
    
    .mainContent {
        padding-top: 5.5vh;
    }
    
    .mainContent label {
        font-size: 9vh;
        line-height: 4vh;
        margin-bottom: 1vh;
        font-weight: 600;
    }
    
    .mainContent p {
        font-size: 3.5vh;
        margin-right: 0.5vw;
        display: inline;
    }
    
    .mainContent div {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .mainHeading {
        font-size: 9vh;
        color: var(--color-internal-theme);
    }
    
    .playStoreImg {
        height: 10vh;
        transition: transform .2s;
        /* Animation */
    }
    
    .playStoreImg:hover {
        transform: scale(1.3);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    
    .contact-cta-buttons {
        margin-top: 8vh;
    }
    
    .iconImg {
        width: 8vh;
        height: 8vh;
        margin-right: 1.5vw;
        transition: transform .2s;
        /* Animation */
    }
    
    .iconImg:hover {
        transform: scale(1.3);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    
    .contactBtn {
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 2.2vh;
        padding-bottom: 2.2vh;
        font-style: initial;
        font-size: large;
        border-radius: 10px;
        font-weight: 700;
        transition: transform .2s;
        color: var(--white);
        background-color: var(--color-internal-theme);
    }
    
    .contactBtn:hover {
        background-color: var(--color-internal-theme);
        color: var(--white);
        transform: scale(1.3);
    }
    
    .contactBtn:focus {
        box-shadow: none;
    }
    
    .chatBtn {
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 2.2vh;
        padding-bottom: 2.2vh;
        color: var(--accent-color);
        font-style: initial;
        font-size: large;
        border-radius: 10px;
        font-weight: 700;
        border: 2px solid var(--accent-color);
        transition: ease-in-out 0.15s;
    }
    
    .chatBtn:hover {
        background-color: var(--accent-color);
        color: var(--white);
        transform: scale(1.3);
    }
    
    .chatBtn:focus {
        box-shadow: var(--color-internal-theme);
    }
    
    .section-title {
        color: var(--color-internal-theme);
        text-align: center;
        font-weight: 600;
    }
    
    .page-section {
        min-height: 100vh;
        padding-top: 7.5vh;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    /* Feature Details */
    
    .feature_details_heading {
        margin-top: 3.8vh;
        font-size: 27px;
        color: var(--color-heading-font);
    }
    
    .caption {
        color: var(--color-simple-font);
        font-size: 19px;
        font-family: sans-serif;
        margin-top: 0.75vh;
    }
    
    .caption_styled {
        color: var(--color-simple-font);
        font-size: 19px;
        margin-top: 0.75vh;
    }
    
    .contact_us_social {
        margin-top: 3vh;
    }
    
    .contact_us_social p {
        display: inline;
        font-size: xx-large;
        margin-right: 3vw;
    }
    
    .appFeatures {
        width: 100%;
    }
    
    .appFeatures h4 {
        margin-bottom: 2px;
    }
    
    .appFeatures p {
        line-height: 1.25rem;
    }
    
    .feature-section-column {
        width: 30% !important;
        display: inline;
    }
    
    .welcome-page-img img {
        max-height: 75vh;
    }
    
    .screenshots-section {
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        text-align: center;
    }
    
    .screenshots-section .section-title {
        color: white!important;
    }
    
    .detailsImg {
        font-style: italic;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .detailsImg img {
        width: 100%;
    }
    
    .FAQ p {
        line-height: 1.25rem;
        margin-bottom: 3px;
    }
    
    .adminFeatures p {
        line-height: 1.25rem;
        margin-bottom: 3px;
    }
    
    .adminImg {
        height: 600px;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
    }
    
    .contact-us.page-section {
        min-height: unset !important;
    }
    
    .contactUs h1 {
        font-size: 70px;
        margin-bottom: 50px;
    }
    
    .contactUs h2 {
        font-size: 40px;
        margin: 40px 0px;
    }
    
    .contactUsDemo p {
        display: inline;
        font-size: xx-large;
    }
    
    .contactUsInfo p {
        display: inline;
        font-size: xx-large;
    }
    
    .footer {
        padding-top: 7.5vh !important;
        padding-left: 5vw !important;
        padding-right: 5vw !important;
        padding-bottom: 9vh !important;
        color: white !important;
    }
    
    .footer p {
        color: #6a6a6a !important;
        font-size: 19px !important;
    }
    
    .footer .link {
        color: #6a6a6a !important;
        text-decoration: underline;
        font-size: 19px !important;
    }
    
    .footer .link:hover {
        color: white !important;
    }
    
    .footer h6 {
        font-size: xx-large;
        font-weight: 700;
        font-style: italic;
    }
    
    .footer p {
        font-size: large;
        font-weight: 500;
        margin-bottom: 2px;
    }
    
    .footerImg {
        width: 250px;
        height: 50px;
    }
    /*******************************************/
    /************** DESKTOP ONLY ***************/
    /*******************************************/
    
    @media screen and (min-width: 1024px) {
        .hide-desktop {
            display: none !important;
        }
        .header {
            width: 100vw;
            padding: 6.5vh 5vw;
            height: 19vh;
        }
        .mobileHeadingLabel {
            display: none;
        }
        .headerMobile {
            display: none;
        }
        .mockupImg {
            display: none;
        }
        .mainContent {
            line-height: 3.5rem;
        }
        .content {
            height: 81vh;
        }
        .contactDiv {
            width: 100vw;
            height: 100vh;
            background-color: var(--white);
        }
        .footer-image {
            position: absolute;
            z-index: -1;
            height: 90vh;
            right: 10vw;
        }
        .mainLogo {
            height: 6vh;
            margin-right: 0.35vw;
        }
        .main-image-wrapper {
            display: inline;
            height: 81vh;
            vertical-align: bottom;
        }
        .main-image {
            height: 75vh;
            vertical-align: bottom;
            position: absolute;
            bottom: 0;
            right: 12vw;
        }
    }
    /****************/
    /* TABLET ONLY */
    /***************/
    
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .mainContent {
            line-height: 4.5rem !important;
        }
        .mainView label {
            line-height: 4.5rem !important;
        }
        .hide-tablet {
            display: none !important;
        }
        .feature-section-column {
            width: 48% !important;
            display: inline;
            margin: auto;
            align-self: center;
            text-align: center;
            text-align: center;
        }
    }
    /**************/
    /* PHONE ONLY */
    /*************/
    
    @media screen and (max-width: 767px) {
        .hide-mobile {
            display: none !important;
        }
        .feature-section-column {
            width: 100% !important;
            display: inline;
        }
        .footer .link {
            display: block;
        }
        .footer .mu-and-co {
            display: inline !important;
        }
    }
    /*******************/
    /* MOBILE & TABLET */
    /*******************/
    
    @media screen and (max-width: 1023px) {
        .mt-4 {
            margin-top: 0px !important;
        }
        .header {
            display: none;
        }
        .main-image {
            max-width: 90vw;
        }
        .welcome-page-img img {
            display: none;
        }
        .headerMobile {
            width: 100vw;
            padding: 5vh 5vw;
        }
        .headerMobile * {
            display: inline;
        }
        .iconImg {
            width: 22vw;
            height: 22vw;
        }
        .headerBtn {
            margin-left: auto;
            background-color: var(--color-background);
            color: var(--white) !important;
            font-weight: 600;
            padding: auto;
            font-size: large;
            width: 62.5vw;
            height: 7vh;
            border-radius: 12px;
            border: none;
        }
        .logoHeading {
            text-align: center;
        }
        .logoHeading .mainLogo {
            height: 5.5vh !important;
            width: 5.5vh !important;
        }
        .logoHeading .site-logo-text {
            font-size: 4vh !important;
        }
        .headerBtn:focus {
            border-radius: 12px;
        }
        .headerBtn p {
            font-size: 3vh;
        }
        .mainLogo {
            width: 12vw !important;
            height: 12vw !important;
            margin-right: 1vw !important;
        }
        .fa-comment-dots {
            color: var(--white) !important;
        }
        .fa-long-arrow-alt-right {
            color: var(--black) !important;
        }
        .mainImg {
            background: none;
        }
        .content {
            height: fit-content;
        }
        .mainContent {
            padding: 3vw 4vh;
            align-items: center;
            text-align: center;
            justify-content: center;
            line-height: 3rem;
        }
        .mainContent label {
            font-size: 5.5vh;
            margin-bottom: 10px;
            font-weight: 600;
            line-height: 4.5vh;
        }
        .mainContent p {
            margin-bottom: 0px;
            font-size: 3.2vh;
            display: block;
        }
        .mainContent div {
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        .contact-cta-buttons {
            margin-top: 5vh;
        }
        .iconImg {
            margin-top: 1vh;
        }
        .iconImg:active {
            transform: scale(1.3);
            /* (130% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
        .iconImg:visited {
            transform: scale(1.3);
            /* (130% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
        .iconImg:focus {
            transform: scale(1.3);
            /* (130% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
        .playStoreImg {
            height: 11vh;
        }
        .playStoreImg:active {
            transform: scale(1.3);
            /* (130% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
        .contactDiv {
            background-color: var(--white);
        }
        .mockupImg img {
            width: 100%;
        }
        .contactBtn {
            width: 100%;
        }
        .chatBtn {
            width: 100%;
            margin-top: 1.5vh;
            background-color: var(--accent-color);
            margin-bottom: 5vh;
            color: var(--white);
            font-size: regular;
        }
        .appFeatures {
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        .appFeatures img {
            width: 100%;
        }
        .contact_us_social p {
            display: block;
            font-size: 3.2vh;
            margin-right: 0;
            margin-top: 5vh;
        }
        .featureDetails {
            padding: 70px 30px;
        }
        .feature_details_heading {
            font-size: 20px;
        }
        .caption {
            font-size: 16.5px;
            margin-top: 0.8vh;
        }
        .adminFeatures {
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        .adminImg {
            height: 600px;
            width: 100%;
            overflow: hidden;
            box-sizing: border-box;
        }
        .contactUs {
            text-align: center;
        }
        .contactUs h1 {
            font-size: 5vh;
            margin-top: 4.5vh;
            line-height: 4.5vh;
            margin-bottom: 0;
        }
        .contactUs h2 {
            font-size: 3.8vh;
            margin-top: 1.9vh;
            margin-bottom: 0;
        }
        .contactUsInfo p {
            display: inline;
            font-size: 3.8vh;
        }
        .contactUs .fa-whatsapp {
            font-size: 5vh !important;
        }
        .contactUsDemo p {
            display: block;
            font-size: large;
        }
        .footer-image-wrapper {
            text-align: center;
        }
        .footer-image {
            width: 90vw;
        }
        .footer {
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        .cuFooter {
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    }